@model BaiBao
@{
    Layout = "~/Views/Shared/_LayoutPostDetail.cshtml";
    ViewData["Title"] = Model.TieuDe;
    ViewData["TinTuc"] = Model;

    var tags = Model.Tags?.Split(new[] { " ", ", " }, StringSplitOptions.RemoveEmptyEntries);
}

<div class="content-box">
    <!-- standard post -->
    <article class="entry mb-0">
        <div class="single-post__entry-header entry__header">
            <a class="entry__meta-category entry__meta-category--label entry__meta-category--green"
               asp-action="Index"
               asp-controller="Category"
               asp-route-id="@Model.IdDanhMuc"
               asp-route-name="@Model.IdDanhMucNavigation.TenDanhMuc.ToUrlFriendly()">
                @Model.IdDanhMucNavigation.TenDanhMuc
            </a>
            <h1 class="single-post__entry-title">
                @Model.TieuDe
            </h1>

            <div class="entry__meta-holder">
                <ul class="entry__meta">
                    <li class="entry__meta-author">
                        <span>by</span>
                        <a href="javascript:void(0)">@Model.UsernameNavigation.HoTen</a>
                    </li>
                    <li class="entry__meta-date">
                        @Model.ThoiGianTao.ToString("dd/MM/yyyy hh:mm")
                    </li>
                </ul>

                <ul class="entry__meta">
                    <li class="entry__meta-views">
                        <i class="ui-eye"></i>
                        <span>@Model.LuotXem</span>
                    </li>
                    <li class="entry__meta-comments">
                        <a href="javascript:void(0)">
                            <i class="ui-chat-empty"></i>@Model.BinhLuan.Count()
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- end entry header -->

        <div class="entry__img-holder">
            <img alt="" class="entry__img" src="@Model.HinhAnh">
        </div>

        <div class="entry__article-wrap">
            <!-- Share -->
            <div class="entry__share">
                <div class="sticky-col">
                    <div class="socials socials--rounded socials--large">
                        <a aria-label="facebook" class="social social-facebook" href="#" target="_blank" title="facebook">
                            <i class="ui-facebook"></i>
                        </a>
                        <a aria-label="twitter" class="social social-twitter" href="#" target="_blank" title="twitter">
                            <i class="ui-twitter"></i>
                        </a>
                        <a aria-label="google" class="social social-google-plus" href="#" target="_blank" title="google">
                            <i class="ui-google"></i>
                        </a>
                        <a aria-label="pinterest" class="social social-pinterest" href="#" target="_blank" title="pinterest">
                            <i class="ui-pinterest"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- end Share -->


            <div class="entry__article">
                @Html.Raw(Model.NoiDung)
                <script>
                    let p = $(".Normal");
                    let len = p.length;
                    for (let i = 0; i < len; i++) {
                        $(p[i]).removeAttr("style");
                    }
                </script>

                @if (tags != null && tags.Length > 0)
                {
                    <!-- tags -->
                    <div class="entry__tags">
                        <i class="ui-tags"></i>
                        <span class="entry__tags-label">Tags:</span>
                        @foreach (var tag in tags)
                        {
                            <a href="#" rel="tag">tag</a>
                        }
                    </div>
                    <!-- end tags -->
                }
            </div>
            <!-- end entry article -->
        </div>
        <!-- end entry article wrap -->
        <!-- Newsletter Wide -->
        <div class="newsletter-wide">
            <div class="widget widget_mc4wp_form_widget">
                <div class="newsletter-wide__container">
                    <div class="newsletter-wide__text-holder">
                        <p class="newsletter-wide__text">
                            <i class="ui-email newsletter__icon"></i>
                            Đăng ký nhận tin tức hằng ngày
                        </p>
                    </div>
                    <div class="newsletter-wide__form">
                        <form class="mc4wp-form" method="post">
                            <div class="mc4wp-form-fields">
                                <div class="form-group">
                                    <input type="email" name="EMAIL" placeholder="Email của bạn" required="">
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-lg btn-color" value="Đăng ký">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- end newsletter wide -->
        <!-- Related Posts -->
        <section class="section related-posts mt-40 mb-0">
            <div class="title-wrap title-wrap--line title-wrap--pr">
                <h3 class="section-title">Tin tức liên quan</h3>
            </div>

            <!-- Slider -->
            <div class="owl-carousel owl-theme owl-carousel--arrows-outside" id="owl-posts-3-items">
                @foreach (var baiBao in Model.IdDanhMucNavigation.BaiBao.Take(6))
                {
                    <article class="entry thumb thumb--size-1">
                        <div class="entry__img-holder thumb__img-holder"
                             style="background-image: url('@baiBao.HinhAnh');">
                            <div class="bottom-gradient"></div>
                            <div class="thumb-text-holder">
                                <h2 class="thumb-entry-title">
                                    <a asp-action="Index" asp-controller="Post" asp-route-id="@baiBao.IdBaiBao" asp-route-name="@baiBao.TieuDe.ToUrlFriendly()">
                                        @baiBao.TieuDe
                                    </a>
                                </h2>
                            </div>
                            <a class="thumb-url" asp-action="Index" asp-controller="Post" asp-route-id="@baiBao.IdBaiBao" asp-route-name="@baiBao.TieuDe.ToUrlFriendly()"></a>
                        </div>
                    </article>
                }
            </div>
            <!-- end slider -->
        </section>
        <!-- end related posts -->
    </article>
    <!-- end standard post -->
    <!-- Comments -->
    <div class="entry-comments">
        <div class="title-wrap title-wrap--line">
            <h3 class="section-title">@Model.BinhLuan.Count bình luận</h3>
        </div>
        <ul class="comment-list">
            @foreach (var binhLuan in Model.BinhLuan)
            {
                <li>
                    <div class="comment-body">
                        <div class="comment-avatar">
                            <img src="~/img/comment-avatar.jpg" alt="comment avatar" style="width:50px;height:50px;" />
                        </div>
                        <div class="comment-text">
                            <h6 class="comment-author">@binhLuan.TenNguoiBl</h6>
                            <div class="comment-metadata">
                                <a class="comment-date" href="javascript:void(0)">
                                    @binhLuan.ThoiGian.ToString("dd/MM/yyyy hh:mm")
                                </a>
                            </div>
                            <p>@binhLuan.NoiDung</p>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
    <!-- end comments -->
    <!-- Comment Form -->
    <div class="comment-respond" id="respond">
        <div class="title-wrap" style="margin-bottom:16px;">
            <h5 class="comment-respond__title section-title">Để lại bình luận của bạn về bài viết</h5>
        </div>

        <form asp-action="Comment" class="comment-form" id="form" method="post">
            <input type="hidden" name="IdBaiBao" value="@Model.IdBaiBao" />
            <p class="comment-form-comment">
                <label for="comment">Nội dung</label>
                <textarea id="comment" name="NoiDung" required="required" rows="5"></textarea>
            </p>

            <div class="row row-20">
                <div class="col-lg-4">
                    <label for="name">Tên: *</label>
                    <input id="name" name="TenNguoiBl" type="text">
                </div>
                <div class="col-lg-4">
                    <label for="email">Email: *</label>
                    <input id="email" name="Email" type="email">
                </div>
                <div class="col-lg-4">
                    <label for="dien-thoai">Điện thoại:</label>
                    <input id="dien-thoai" name="dienThoai" type="text">
                </div>
            </div>

            <p class="comment-form-submit">
                <input class="btn btn-lg btn-color btn-button" id="submit-message" type="submit" value="Hoàn tất">
            </p>
        </form>
    </div>
    <!-- end comment form -->
</div>