@model List<DanhMuc>

<div class="nav__holder nav--sticky" style="width:100%;">
    <div class="container relative">
        <div class="flex-parent">
            <!-- Side Menu Button -->
            <button aria-label="Open side menu" class="nav-icon-toggle" id="nav-icon-toggle">
                <span class="nav-icon-toggle__box">
                    <span class="nav-icon-toggle__inner"></span>
                </span>
            </button>

            <!-- Nav-wrap -->
            <nav class="flex-child nav__wrap d-none d-lg-block">
                <ul class="nav__menu">
                    <li class="nav__dropdown active">
                        <a href="#">@Model[0].TenDanhMuc</a>
                        @{
                            var baiBao = Model[0].BaiBao.Take(4).ToArray();
                        }
                        <ul class="nav__dropdown-menu nav__megamenu" style="width:1050px;left:-50%;">
                            <li>
                                <div class="nav__megamenu-wrap">
                                    <div class="row">
                                        @foreach (var bb in baiBao)
                                        {
                                            <div class="col nav__megamenu-item">
                                                <article class="entry">
                                                    <div class="entry__img-holder">
                                                        <a href="single-post.html">
                                                            <img alt="" class="entry__img" src="@bb.HinhAnh">
                                                        </a>
                                                        <a class="entry__meta-category entry__meta-category--label entry__meta-category--align-in-corner entry__meta-category--violet" href="#">@Model[0].TenDanhMuc</a>
                                                    </div>

                                                    <div class="entry__body">
                                                        <h2 class="entry__title">
                                                            <a asp-action="Index" asp-controller="Post" asp-route-id="@bb.IdBaiBao" asp-route-name="@bb.TieuDe.ToUrlFriendly()">@bb.TieuDe</a>
                                                        </h2>
                                                    </div>
                                                </article>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <!-- end megamenu -->
                    </li>

                    @for (int i = 1; i < 9; i++)
                    {
                        <li class="nav__dropdown">
                            <a href="#">@Model[i].TenDanhMuc</a>
                            @{
                                baiBao = Model[i].BaiBao.Take(4).ToArray();
                            }
                            <ul class="nav__dropdown-menu nav__megamenu" style="width:1050px;left:-50%;">
                                <li>
                                    <div class="nav__megamenu-wrap">
                                        <div class="row">
                                            @foreach (var bb in baiBao)
                                            {
                                                <div class="col nav__megamenu-item">
                                                    <article class="entry">
                                                        <div class="entry__img-holder">
                                                            <a href="single-post.html">
                                                                <img alt="" class="entry__img" src="@bb.HinhAnh">
                                                            </a>
                                                            <a class="entry__meta-category entry__meta-category--label entry__meta-category--align-in-corner entry__meta-category--violet" href="#">@Model[i].TenDanhMuc</a>
                                                        </div>

                                                        <div class="entry__body">
                                                            <h2 class="entry__title">
                                                                <a asp-action="Index" asp-controller="Post" asp-route-id="@bb.IdBaiBao" asp-route-name="@bb.TieuDe">@bb.TieuDe</a>
                                                            </h2>
                                                        </div>
                                                    </article>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <!-- end megamenu -->
                        </li>
                    }
                </ul> 
                <!-- end menu -->
            </nav> 
            <!-- end nav-wrap -->

            <!-- Nav Right -->
            <div class="nav__right">
                <!-- Search -->
                <div class="nav__right-item nav__search">
                    <a class="nav__search-trigger" href="#" id="nav__search-trigger">
                        <i class="ui-search nav__search-trigger-icon"></i>
                    </a>
                    <div class="nav__search-box" id="nav__search-box">
                        <form class="nav__search-form">
                            <input class="nav__search-input" placeholder="Search an article" type="text">
                            <button class="search-button btn btn-lg btn-color btn-button" type="submit">
                                <i class="ui-search nav__search-icon"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div> 
            <!-- end nav right -->
        </div> 
        <!-- end flex-parent -->
    </div> 
    <!-- end container -->
</div>