@model List<DanhMuc>
<!-- close -->
<div class="sidenav__close">
    <button aria-label="close sidenav" class="sidenav__close-button" id="sidenav__close-button">
        <i class="ui-close sidenav__close-icon"></i>
    </button>
</div>

<!-- Nav -->
<nav class="sidenav__menu-container">
    <ul class="sidenav__menu" role="menubar">
        @foreach (var danhMuc in Model)
        {
            <li>
                <a asp-action="Index"
                   asp-controller="Category"
                   asp-route-id="@danhMuc.IdDanhMuc"
                   asp-route-name="@danhMuc.TenDanhMuc.ToUrlFriendly()"
                   class="sidenav__menu-url">@danhMuc.TenDanhMuc</a>
                <button class="sidenav__menu-toggle" aria-haspopup="true" aria-label="Open dropdown"><i class="ui-arrow-down"></i></button>
                <ul class="sidenav__menu-dropdown" style="display: none;">
                    @foreach (var baiBao in danhMuc.BaiBao.OrderByDescending(e => e.IdBaiBao).Take(4))
                    {
                        <li>
                            <a asp-action="Index" asp-controller="Post" asp-route-id="@baiBao.IdBaiBao" asp-route-name="@baiBao.TieuDe.ToUrlFriendly()" class="sidenav__menu-url">@baiBao.TieuDe</a>
                        </li>
                    }
                </ul>
            </li>
        }
    </ul>
</nav>

<div class="socials sidenav__socials">
    <a aria-label="facebook" class="social social-facebook" href="#" target="_blank">
        <i class="ui-facebook"></i>
    </a>
    <a aria-label="twitter" class="social social-twitter" href="#" target="_blank">
        <i class="ui-twitter"></i>
    </a>
    <a aria-label="google" class="social social-google-plus" href="#" target="_blank">
        <i class="ui-google"></i>
    </a>
    <a aria-label="youtube" class="social social-youtube" href="#" target="_blank">
        <i class="ui-youtube"></i>
    </a>
    <a aria-label="instagram" class="social social-instagram" href="#" target="_blank">
        <i class="ui-instagram"></i>
    </a>
</div>