@model List<BaiBao>

@foreach (var baiBao in Model)
{
    <article class="entry thumb thumb--size-1">
        <div class="entry__img-holder thumb__img-holder" style="background-image: url('@baiBao.HinhAnh');">
            <div class="bottom-gradient"></div>
            <div class="thumb-text-holder">
                <h2 class="thumb-entry-title">
                    <a asp-action="Index" asp-controller="Post" asp-route-id="@baiBao.IdBaiBao" asp-route-name="@baiBao.TieuDe">
                        @baiBao.TieuDe
                    </a>
                </h2>
            </div>
            <a class="thumb-url" href="single-post.html"asp-action="Index" asp-controller="Post" asp-route-id="@baiBao.IdBaiBao" asp-route-name="@baiBao.TieuDe"></a>
        </div>
    </article>
}