@model List<BaiBao>

<h4 class="widget-title">Tin phổ biến</h4>

<ul class="post-list-small">
    @foreach (var baiBao in Model)
    {
        <li class="post-list-small__item">
            <article class="post-list-small__entry clearfix">
                <div class="post-list-small__img-holder">
                    <div class="thumb-container thumb-100">
                        <a href="single-post.html">
                            <img alt="" class="post-list-small__img--rounded lazyload" data-src="@baiBao.HinhAnh" src="@baiBao.HinhAnh">
                        </a>
                    </div>
                </div>
                <div class="post-list-small__body">
                    <h3 class="post-list-small__entry-title">
                        <a asp-action="Index" asp-controller="Post" asp-route-id="@baiBao.IdBaiBao" asp-route-name="@baiBao.TieuDe">
                            @baiBao.TieuDe
                        </a>
                    </h3>
                    <ul class="entry__meta">
                        <li class="entry__meta-author">
                            <span>by</span>
                            <a href="#">@baiBao.UsernameNavigation.HoTen</a>
                        </li>
                        <li class="entry__meta-date">
                            @baiBao.ThoiGianTao.ToString("dd/MM/yyyy hh:mm")
                        </li>
                    </ul>
                </div>
            </article>
        </li>
    }
</ul>