@model List<BaiBao>

@foreach (var baiBao in Model)
{
    <article class="entry card post-list">
        <div class="entry__img-holder post-list__img-holder card__img-holder"
             style="background-image: url(img/content/list/list_post_1.jpg)">
            <a class="thumb-url" href="single-post.html"></a>
            <img alt="" class="entry__img d-none"
                 src="@baiBao.HinhAnh">
            <a class="entry__meta-category entry__meta-category--label entry__meta-category--align-in-corner entry__meta-category--blue"
               href="#">@baiBao.IdDanhMucNavigation.TenDanhMuc</a>
        </div>
        <div class="entry__body post-list__body card__body">
            <div class="entry__header">
                <h2 class="entry__title">
                    <a asp-action="Index" asp-controller="Post" asp-route-id="@baiBao.IdBaiBao" asp-route-name="@baiBao.TieuDe">
                        @baiBao.TieuDe
                    </a>
                </h2>
                <ul class="entry__meta">
                    <li class="entry__meta-author">
                        <span>by</span>
                        <a href="#">@baiBao.UsernameNavigation.HoTen</a>
                    </li>
                    <li class="entry__meta-date">
                        @baiBao.ThoiGianTao.ToString("dd/MM/yyyy hh:mm")
                    </li>
                </ul>
            </div>
            <div class="entry__excerpt">
                <p>
                    @(new string(baiBao[i].TomTat.Take(70).ToArray()) + " ...")
                </p>
            </div>
        </div>
    </article>
}